{% extends "layout.html" %}

{% block title %}Add or update profile picture{% endblock %}

{% block content %}
<h2>Add or update profile picture</h2>

<p>
  Please upload a PNG image smaller than 1 MB.
</p>

<form action="/add_image" method="post" enctype="multipart/form-data">
  <p>
    <input type="hidden" name="MAX_FILE_SIZE" value="{{max_profile_picture_size}}" />
    <label for="image" class="custom-file-label">Choose file</label>
    <input type="file" id="image" name="image" accept=".png" required/>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <button type="submit">Send</button>
</form>
{% endblock %}