{% extends "layout.html" %}

{% block title %}Edit project{% endblock %}

{% block content %}
<h2>Edit project</h2>

<form action="/edit/{{ project.id }}" method="post">
  <p>
    <label for="name">Name:</label><br />
    <input type="text" name="name" id="name" value="{{ project.name }}" maxlength="50" required />
  </p>
  <p>
    <label for="range_min">Range min:</label><br />
    <input type="text" name="range_min" id="range_min" value="{{ project.range_min }}" pattern="^[1-9]\d*$" required />
  </p>
  <p>
    <label for="range_max">Range max:</label><br />
    <input type="text" name="range_max" id="range_max" value="{{ project.range_max }}" pattern="^[1-9]\d*$" required />
  </p>
  <p>
    <label for="description">Project description:</label><br />
    <textarea name="description" id="description" rows="5" cols="40" maxlength="1000"
      required>{{ project.description | e }}</textarea>
  </p>

  {% for class in all_classes %}
  <p>
    <label for="class{{ class }}">{{ class }}:</label><br />
    <select name="classes" id="class{{ class }}">
      <option value="">(select)</option>
      {% for option in all_classes[class] %}
      {% if classes[class] == option %}
      <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <button type="submit">Save project</button>

</form>
<br />
{% if project.status == "Not Started" %}
<form action="/edit/{{ project.id }}/generate_tasks" method="GET">
  <button type="submit">Generate tasks</button>
</form>
{% endif %}
{% endblock %}
