{% extends "layout.html" %}

{% block title %}Calculation projects{% endblock %}

{% block content %}

<h2>Current active projects</h2>
<hr />

{% if not projects %}
<p>No active projects found.</p>
{% else %}
{% for project in projects %}
<div class="item">
  <a href="/project/{{ project.id }}">{{ project.name }}</a>
  {{ project.task_count }} tasks, latest update {{ project.last_updated }}
</div>
{% endfor %}

<hr />
<p>
  <a href="/{{ page - 1 }}">&lt;&lt;</a>
  Sivu {{ page }}/{{ page_count }}
  <a href="/{{ page + 1 }}">&gt;&gt;</a>
</p>
{% endif %}

{% endblock %}