<!DOCTYPE html>
<html>

<head>
  <title>Calculation projects</title>
</head>

<body>
  <h1>Calculation projects</h1>
    {% if session.user_id %}
    <p>
      You are signed as {{ session.username }}
    </p>
    {% endif %}

    {% if session.user_id %}
    <h2><a href="/return">Return tasks</a> </h2>

    <p>
    <a href="/new_project">Create new project</a>
    </p>
    {% endif %}
    <p>
       <a href="/projects/search">Project Search</a> |
      <a href="/register">Create account</a> |
      {% if session.user_id %}
      <a href="/logout">Logout</a>
      {% else %}
      <a href="/login">login</a>
      {% endif %}
    </p>
    <h2>Current active projects</h2>
    <hr />
    {% for project in projects %}
      <p>
        <a href="/project/{{ project.id }}">{{ project.name }}</a>
      </p>
      <hr />
    {% endfor %}


</body>

</html>