{% extends "layout.html" %}

{% block title %}Create new project{% endblock %}

{% block content %}
<h2>Create new project</h2>

<form action="/new_project" method="post">
  <p>
    Name: <br />
    <input type="text" name="name" maxlength="50" required />
  </p>
  <p>
    Range min: <br />
    <input type="text" name="range_min" pattern="^[1-9]\d*$" required>
  </p>
  <p>
    Range max: <br />
    <input type="text" name="range_max" pattern="^[1-9]\d*$" required>
  </p>
  <p>
    Project description:<br />
    <textarea name="description" rows="5" cols="40" maxlength="1000" required></textarea>
  </p>
  {% for class in classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</label>: <br />
    <select name="classes" id="class{{ class }}">
      <option value="">(select)</option>
      {% for option in classes[class] %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endfor %}
    </select>
  </p>
  {% endfor %}


  {% for i in range(1, 6) %}
  <div>
    <label for="parameter{{ i }}_name">Parameter {{ i }} name:</label>
    <input type="text" id="parameter{{ i }}_name" name="parameter_names[]">

    <label for="parameter{{ i }}_value">Parameter {{ i }} value:</label>
    <input type="text" id="parameter{{ i }}_value" name="parameter_values[]"><br><br>
  </div>
  {% endfor %}

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Create project" />
</form>
{% endblock %}