<!DOCTYPE html>
<html>

<head>
  <title>{{ project.name }}</title>
</head>

<body>
  <h1>{{ project.name }}</h1>
    <p>
      Range min: {{ project.range_min }}
    </p>
    <p>
      Range max:{{ project.range_max }}
    </p>
    <p>
      {{ project.description }}
    </p>
     <p>
      Project status: {{ project.status }}
    </p>
    <hr />
    <h2>Project parameters</h2>
    {% for parameter in project_parameters %}
      <p>
       {{ parameter.name }} = {{ parameter.value }}
      </p>
    {% endfor %}
    <hr />
    {% if project.user_id == session.user_id %}
      <p>
        <a href="/edit/{{ project.id }}">Edit project</a> |
        {% if project.status != 'Deleted' %}
          {% if project.status == 'On Hold' %}
            <a href="/reactivate/{{ project.id }}">Reactivate project</a> |
          {% else %}
            <a href="/hold/{{ project.id }}">Put project on hold</a> |
          {% endif %}

          <a href="/remove/{{ project.id }}">Remove project</a>
        {% endif %}
     </p>
    {% endif %}

    <p>
      <a href="/">Main page</a>
    </p>
</body>

</html>