<!DOCTYPE html>
<html>

<head>
  <title>{{ project.name }}</title>
</head>

<body>
  <h1>{{ project.name }}</h1>
    <p>
      Range min: {{ project.range_min }}
    </p>
    <p>
      Range max:{{ project.range_max }}
    </p>
    <p>
      {{ project.description }}
    </p>

    <hr />
    <h2>Project parameters</h2>
    {% for parameter in project_parameters %}
      <p>
       {{ parameter.name }} = {{ parameter.value }}
      </p>
    {% endfor %}
    <hr />

    <p>
      <a href="/">Etusivulle</a>
    </p>
</body>

</html>