{% extends "layout.html" %}

{% block title %}Create account{% endblock %}

{% block content %}
<h2>Create account</h2>

<form action="/register" method="post">
  <p>
    Username: <br />
    <input type="text" name="username" maxlength="20"/>
  </p>
  <p>
    Email: <br />
    <input type="text" name="email" maxlength="50"/>
  </p>
  <p>
    short bio:<br />
    <textarea name="bio" rows="5" cols="40" maxlength="10000"></textarea>
  </p>
  <p>
    Password: <br />
    <input type="password" name="password1" />
  </p>
  <p>
    Retype Password: <br />
    <input type="password" name="password2" />
  </p>
  <input type="submit" value="Create account" />
</form>
{% endblock %}