<!DOCTYPE html>
<html>

<head>
  <title>Reserve tasks</title>
</head>

<body>
    <h1>Reserve tasks</h1>
    {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}
    <p>
        You can reserve tasks for the project "{{ project.name }}".
        You will get requested number of tasks, starting from the smallest available task number.
    </p>
    <p>
        <b>There are {{ number_of_free_tasks }} tasks available for this project.</b>
        You can reserve tasks only if the project is in "Ongoing" status.
    </p>

  <form action="/project/{{ project.id}}/reserve_tasks" method="post">
    <p>
      Number of tasks: <br />
      <input type="text" name="requested_number_of_tasks"/>
    </p>


    <input type="submit" value="Request tasks" />

    <p>
      <a href="/project/{{ project.id }}">Back to the project page</a>
    </p>

  </form>

  <hr />
  <p>
    <a href="/">Main page</a>
  </p>
</body>

</html>